.menuCard{
  display: flex;
  border: solid black;
  width: 66%;
  
}
.menuCard img{
  width: 20%;
  height: 80%;
  align-items: center;
}
.menuCard p{
  /* border: solid black; */
    color: #264143;
    
}
.menuCard h2{
  font-family: Poppins;
  /* border: solid black; */
  color: #f87d01;
}

.menuCard strong{
  font-size: larger;
  height: fit-content;
  /* border: solid black; */
}